/build/
/target/
/src/main/webapp/WEB-INF/classes/cashfree.properties
/src/main/webapp/WEB-INF/classes/mongodb.properties
/src/main/webapp/WEB-INF/classes/paypal.properties
/src/main/webapp/WEB-INF/classes/razorpayprops.properties